include README.md
include LICENSE
include DOCUMENTATION.md
include RELEASE_NOTES_v1.2.3.md
include HARDWARE_COMPATIBILITY.md
include EXTENDING_DOMAINS.md
recursive-include sigma_c_core/include *
recursive-include sigma_c_core/src *
